/* TODO move colors to shared css */

.root {
    display: flex;
    flex: 1;
    margin-top: 54px;
    padding: 12% 10%;
    flex-direction: column;
}

.container {
    display: flex;
    flex: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    flex-direction: column;
}

.questionAnswerContainer {
    
    display: flex;
    flex: 1;
    padding: 5%;
    align-items: center;
    flex-direction: column;
}

.question {
    font-size: 18px;
    font-weight: bold;
}

.answerContainer {
    
    display: flex;
    align-self: stretch;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.answerButton {
    display: flex;
    flex: 1;
    max-width: 300px;
    min-width: 150px;
    min-height: 20px;
    border-width: 1px;
    padding: 7px 10px;
    border-style: solid;
    border-radius: 2px;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.answerButton:active{
    transform: scale(0.9);
    background-color: darken(#138c91, 5%);
    box-shadow: 0 2px 25px rgba(255, 145, 0, 0.452);
  }

/* .answerButton:hover {
    background: #E1B58B;
} */

.skipButton {
    height: 40px;
    width: 65px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-left: 15px;
    align-items: center;
    cursor: pointer;
}

.skipButton .skip {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.skipButton:hover .skip {
    color: #E1B58B;
}

.skipButton:hover .skipIcon {
    color: #E1B58B;
}

.rightAnswer {
    border-color: green;
    color: green;
}
.wrongAnswer {
    border-color: red;
    color: red;
}
.button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 5px;
    line-height: 5px;
    width: 230px;
  }
  .button:hover {
    background-color: #555555;
    color: white;
  }

  .example_d {
   
 /* color: #809fff !important; */
 color: #336699;
 text-transform: uppercase;
 background: #ffffff;
 padding: 10px;
 border: 1px solid #336699 !important;
 border-radius: 1px;
 display: inline-block;
 transition: all 0.3s ease 0s;
 line-height: 5px;
 width: 230px;
 text-align: center;
    }
    .example_c:hover {
        color: #494949 !important;
        border-radius: 50px;
        border-color: #494949 !important;
        transition: all 0.3s ease 0s; 
        }

        .example_d:hover {
            color: #ffffff !important;
            background:#666699;
            border-color: #666699 !important;
            transition: all 0.4s ease 0s;
            }