/* TODO move colors to shared css */

.root {
    display: flex;
    flex: 1;
    margin-top: 54px;
    padding: 5% 10%;
    flex-direction: column;
}

.container {
    display: flex;
    flex: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    flex-direction: column;
}

.questionAnswerContainer {
    display: flex;
    flex: 1;
    padding: 5%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.question {
    font-size: 18px;
    font-weight: bold;
}

.answerContainer {
    display: flex;
    padding: 10px 0px;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.answerButton {
    display: flex;
    flex: 1;
    outline: none;
    max-width: 300px;
    min-width: 150px;
    min-height: 20px;
    border-width: 1px;
    padding: 7px 10px;
    border-style: solid;
    background-color: white;
    border-color: rgba(255, 145, 0, 0.452);
    border-radius: 2px;
    border-width: 2px;
    justify-content: center;
    cursor: pointer;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.answerButton:active{
    transform: scale(0.9);
    background-color: darken(#138c91, 5%);
    box-shadow: 0 2px 25px rgba(255, 145, 0, 0.452);
  }

.answerButton:hover {
    background: rgb(248, 222, 197);
    /* transform: scale(1.1); */
}

.skipButton {
    width: 65px;
    height: 35px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 15px;
    align-items: center;
    cursor: pointer;
}

.skipButton .skip {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.skipButton:hover .skip {
    color: #E1B58B;
}

.skipButton:hover .skipIcon {
    color: #E1B58B;
}

.rightAnswer {
    border-color: green !important;
    color: green;
}
.wrongAnswer {
    border-color: red !important;
    color: red;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 5px;
    line-height: 5px;
    width: 230px;
  }
  .button:hover {
    background-color: #555555;
    color: white;
  }

.optionButtonContainer {
    display: flex;
    height: 50px;
    margin-top: 15px;
    align-self: stretch;
    justify-content: center;
}

.heading{
    font-size: 1.5em;
    text-align: center;
    font-style : italic;
}