.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #CD853F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
  }
  
  .Toolbar nav {
    height: 100%;
  }
  
  .versionBox {
    height: 56px;
    display: flex;
    align-items: flex-end;
  }
  
  .Title {
      margin-left: 10px; 
       color: white;
       font-size: 10px;
     }
  @media (max-width: 499px) {
    .DesktopOnly {
      display: none;
    }
    .Title {
      display: none;
    }
  }
  @media (min-width: 500px) and (max-width: 850px) {
      
      .Title {
       margin-left: 80px;
      }
    }