.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background:#333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
  }
  
  .Toolbar nav {
    height: 100%;
  }
  
  .versionBox {
    height: 56px;
    display: flex;
    align-items: flex-end;
  }
  
  .Title {
      margin-left: 10px; 
       color: white;
       font-size: 10px;
     }
  .website{
    font-weight: 700;
    margin-left: 0px; 
       color: white;
       font-size: 1.5rem;
       margin-bottom: 0.9rem;
  }
  @media (max-width: 499px) {
    .DesktopOnly {
      display: none;
    }
    .Title {
      display: none;
    }
  }
  @media (min-width: 500px) and (max-width: 850px) {
      
      .Title {
       margin-left: 80px;
      }
    }
  