body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
}
@media (min-width: 900px) {
  body {
    
    overflow-y: hidden;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
